div#content-window {
  height:auto;
}

div#sidebar,
div#content {
  margin-top:10px;
}

div#content {
  margin-left:167px;
}

div#sidebar {
  float:left;
  width:165px;
  color:#E1E1E1;
  font-size:11px;
}

div#sidebar h2 {
  margin:0;
  margin-top:20px;
  padding:0;
  font-weight:normal;
  font-size:15px;
}
div#sidebar ul {
  margin:0;
  margin-top:3px;
  padding:0;
}
div#sidebar li {
  margin:0;
  padding:0;
  padding-bottom:2px;
}

div#sidebar li a {
  color:#E1E1E1;
  text-decoration:none;
}

div#sidebar li a:hover {
  text-decoration:underline;
}

.post {
  background-color: #FFF;
  padding: 10px;
  moz-border-radius:5px;
  webkit-border-radius:5px;
  border-radius:5px;
}

.post h1 a {
  color:#000;
  text-decoration:none;
}

.post h1 a:hover {
  text-decoration:underline;
}