div#content-window {
  height:auto;
}

div#sidebar h2.blog {
  background-image: url("/images/blog-header.png");
  padding-top:105px;
}

div#content {
  margin-left:167px;
}

.post {
  background-color: #FFF;
  padding: 10px;
  moz-border-radius:5px;
  webkit-border-radius:5px;
  border-radius:5px;
}

.post h1 a {
  color:#000;
  text-decoration:none;
}

.post h1 a:hover {
  text-decoration:underline;
}