div#sidebar h2.blog {
  background-image: url("/images/blog-header.png");
  padding-top:105px;
}

div#sidebar.blog h3 {
  font-size:15px;
  font-weight:normal;
  margin:0;
  padding:0;
}

div#sidebar h3.rss-link {
  margin-bottom:1em;
}

div#sidebar.blog ul {
  margin-bottom:20px;
}

#posts {
  width:725px;
  float:right;
}

.post {
  background-color: #FFF;
  padding: 10px;
  moz-border-radius:5px;
  webkit-border-radius:5px;
  border-radius:5px;
}

.post h1 a {
  color:#000;
  text-decoration:none;
}

.post h1 a:hover {
  text-decoration:underline;
}