<div id='header'>
  <div id='trunk-logo'><a href="/"><img src="/images/trunk-logo.png" alt="trunk films logo"/></a></div>
  <ul id="menu">
    <li id="film"><%= link_to "film", root_path %></li>
    <li id="about-us"><%= link_to "about us", about_us_path %></li>
    <li id="contact"><a href="">contact</a></li>
    <li id="blog"><a href="/blog">blog</a></li>
  </ul>
  <ul id="social-media">
    <li id="twitter"><a href="javascript:void(0)" onclick="window.open('http://twitter.com/trunkfilms')">twitter</a></li>
    <li id="vimeo"><a href="javascript:void(0)" onclick="window.open('http://vimeo.com/trunkfilms')">vimeo</a></li>
  </ul>
</div>