<p>
  <%= f.label :title %><br/>
  <%= f.text_field :title %>
</p>

<br/>
<div style="font-size:12px">
Hints:<br/>
To add a vimeo movie:  &lt;%= vimeo_movie(<VIMEO VIDEO ID>) %&gt;<br/>
To add an image, put it on flickr and reference it using &lt;img src="PATH TO IMAGE" alt="WHAT's THE IMAGE OF" /&gt;
</div><br/>

<p>
  <%= f.label :content %><br/>
  <%= f.text_area :content, :cols => 150 %>
</p>
